#counter{
    border-radius: 50px;;
    text-align : center;
    background-color: linen;
    width: 500px;
    height: 150px;
    margin-left : 36.5%;
    margin-top: 2%;
    position: relative;
    float: left;
    border: 2px solid steelblue;
}
#counter button{
    border-radius: 30px;
    text-align : center;
    background-color: linen;
    width: 20%;
    height: 20%;
    text-decoration: none;
    margin-left : 10%;
    margin-top: 2%;
    position: relative;
    float: left;
    border: 2px solid steelblue;
    outline: none;
}